
.image-one {
 @media @mobile {
     img {
         margin-top: 9%;
         width: 100%;
         height: 485px;
         
        }
    .login {
         .flex-box();
         margin-top: 6%;
           h2 {
               font-size: 2.0rem;
               margin-right: 3%;
           }
           button {
            .btn();
            }
            button:hover {
                background-color: @green-two;
            }
        }
    }
    @media @tablet {
        img {
            margin-top: 5%;
            width: 100%;
            height: 850px;
            
           } 
           .login {
            .flex-box();
            margin-top: 6%;
              h2 {
                  font-size: 4.0rem;
                  margin-right: 5%;
              }
              button {
               .btn();
               }
               button:hover {
                   background-color: @green-two;
               }
           }
    }
    @media @desktop {
         display:flex; 
       
        
        img {
          width: 50%;
          height: auto; 
          
        }
        .login {
         .flex-login();
        }
        h2 {
            margin-bottom: 3%;
            text-align: center;
            font-size: 1.0rem;
        }
        button {
            width: 100%;
            padding-right: 15%;
            }
            button:hover {
                background-color: @green-two;
        }
      
    }
 }


.features-title {
    @media @mobile {
        h3{
            font-size: 1.6rem;
            text-align: center;
            margin-top: 5%;
        }
    }
    @media @tablet {
        h3 {
            font-size: 3.0rem;
            text-align: center;
        }
    }
    @media @desktop {
        h3 {
           margin-top: 6%;
           font-size: 4.0rem;
           margin-right: 1% 
        }
    }
}
.features-gallery {
    @media @mobile {
      .flex-gallery();
      height: 10%;
        img {
            width: 55%;
            height: auto;
        }
    }
    @media @tablet {
        display: flex;
        margin-left: 18%;
        img{
            width: 95%;
            height: auto;
        }
    }
    @media @desktop {
        display:flex;
        margin-left: 33%;
        margin-top: 8%;
        img {
            width: 100%;
            height: auto; 
        }
    }
}