.smb() {
    background: @main-color;
    color: @secondary-color;
    margin-right: 1%;
}

.flex-box() {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn() {
    background-color:@btn-color;
    font-family: oxygen;
    border: outset ;
}

.btn-h {
    background-color: @green-two;
    border: none; 
}

.flex-container() {
    margin-top: 1%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.gradient-color(){
    background-image: linear-gradient(to right, @green-two , @green-one);
}

.flex-login() {
    display: flex;
    position: relative;
    text-align: center;
    color: @main-color;
    position: absolute;
    transform: translate(-50%, -50%);
}





